@model Razor.Models.Restaurant

@{
    ViewBag.Title = "NameAndTime";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndTime</h2>
The restaurant name is @Model.Name and it works at @Model.WorkingTime
