@using Bank_Operations.Models
@model IEnumerable<Credit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div> 
    <h3></h3>
    <table> 
        <tr class="header"> 
        <td><p>Тип кредиту</p></td> 
        <td><p>Максимальна сума кредиту</p></td>  
        <td></td> 
        </tr> 
    @foreach (Credit b in Model){
    <tr>
        <td><p>@b.Type</p></td>
        <td><p>@b.MaxQuantity</p></td>
        <td><p><a href="/Home/Order/@b.Id">Замовити</a></p></td>
        <td><p><a href="/Home/CreditView/@b.Id">Перегляд</a></p></td>
        <td><p><a href="/Home/EditCredit/@b.Id">Редагування</a></p></td>
        <td><p><a href="/Home/Create/@b.Id">Створення</a></p></td>
        <td><p><a href="/Home/Delete/@b.Id">Видалення</a></p></td>
    </tr>
    } 
     </table> 
</div>

